.navbar {
    padding: 0 16px !important;
    border-bottom: 1px solid rgba(241, 241, 241, 0.2);
}
.navbar.active {
    background-color: #FFF;
    border-bottom: 1px solid #F1F1F1;
}
.navbar .navbar-brand {
    color: #FFF;
    font-weight: 700;
    font-size: 28px;
    padding: 12px 0;
    text-transform: uppercase;
}
.navbar.active .navbar-brand {
    color: var(--maincolor) !important;
}
.navbar .navbar-nav .nav-link {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    padding: 30px 0 !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0 20px 0 0px;
    position: relative;
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-link.active {
    color: var(--maincolor) !important;
}
.navbar.active .navbar-nav .nav-link {
    color: #444 !important;
}
.navbar.active .navbar-nav .nav-link.active {
    color: var(--maincolor) !important;
}

/* :: Medium devices */
@media (max-width: 991px) {
    
    /* :: Navbar */
    .navbar{
        background-color: #FFF;
        border-bottom: 1px solid #F1F1F1;
        padding: 0px 16px;
    }
    .navbar .navbar-brand{
        padding: 30px 0;
        color: var(--maincolor) !important;
    }
    .navbar .navbar-toggler{
        outline: none;
        padding: 0;
        border: none;
    }
    .navbar .navbar-nav{
        margin-top: 10px !important;
    }
    .navbar .navbar-nav .nav-link{
        color: #17223E !important;
        margin: 0;
        padding: 0 0 15px 0 !important;
    }
    .navbar .navbar-nav .nav-link:before{
        position: unset;
    }
}